<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="card" style="max-width: 500px; margin: 0 auto; padding: 20px;  background-color: gray; color:white; text-align: center;">
	
	<form th:action="@{/save-updated-employee}" th:object="${employee}" th:method="post">
		<h1>Update Employee Data</h1>
		
		<input type="hidden" id="employeeId" name="employeeId" th:value="${employee.employeeId}">
		<br></br>
		
		<label for="firstName">Enter first name</label>
		<input type="text" id="firstName" name="firstName" th:field="*{firstName}">
		<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red;"></p>
		<br></br>
		
		<label for="lastName">Enter last name</label>
		<input type="text"  id="lastName" th:field="*{lastName}">
		<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color:red; "></p>
		<br></br>
		
		<label for="department">Enter department name</label>
		<input type="text" id="department" name="department" th:field="*{department}">
		<p th:if="${#fields.hasErrors('department')}" th:errors="*{department}" style="color: red;"></p>
		<br></br>
		
		<label for="designation">Enter designation</label>
		<input type="text"  id="lastName" th:field="*{designation}">
		<p th:if="${#fields.hasErrors('designation')}" th:errors="*{designation}" style="color:red; "></p>
		<br></br>
		
		<label for="salary">Enter salary</label>
		<input type="number" id="salary" name="salary" th:field="*{salary}">
		<p th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}" style="color:red;"></p>
		
		<div style="margin: 0 auto; margin-top: 10px;">
			<input type="submit" value="Update Info" style="background-color: orange; color:white; width:100px; cursor: pointer;">
		</div>
	</form>

</div>

</body>
</html>